<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sing Up Form</title>
    <link rel="stylesheet" href="register.component.css" />
  </head>

  <body>
    <div class="center">
      <h1>Sign Up</h1>
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="txt_field">
          <label for="name"></label>
          <input
            type="text"
            placeholder="FirstName-LastName"
            class="form-control"
            name="firstName"
            [(ngModel)]="form.name"
            required
            minlength="3"
            maxlength="20"
            #name="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
          />
          <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
            <div *ngIf="name.errors['required']">
              name is required
            </div>
          </div>
        </div>
          <div class="txt_field">
            <label for="Mobile"></label>
            <input
              matInput mask="(000) 000-0000"
              placeholder="Mobile"
              autocomplete=""
              type="text"
              class="form-control"
              id="mobilenumber"
              required
              name="mobilenumber"
              pattern="[0-9]*"
              minlength="14"
              maxlength="14"
              value=""
            />
        </div>
        <div class="txt_field">
          <label for="email"></label>
          <input
            type="email"
            placeholder="Email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
          <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="txt_field">
          <label for="password"></label>
          <input
            type="password"
            autocomplete=""
            placeholder="Password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="txt_field">
          <label for="confirmPassword"></label>
          <input
            type="password"
            placeholder="confirmPassword"
            autocomplete=""
            class="form-control"
            name="Password"
            required
            minlength="6"
          />

        </div>
        <input type="submit" value="Register" onclick="onsubmit">
        <div class="signup_link">
          Already have an account? <a href="login">Login</a>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </body>
</html>
